 <div class="user-details">
  <h1> About Me </h1>
  <p> Welcome! I am a second-year undergrad majoring in Statistics and Computer Science at UChicago. I am currently working on a NLP project that collects data from social networks and conducts emotion analysis given a key word.
    For previous projects, please visit my GitHub page. </p>
</div>
  <div class="user">
    <div class="tech">
      <h3>Data Analytics</h3>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>Most of my coursework is done using R, but I am also comfortable with Python (numpy, pandas, etc.) and SQL.
        I occasionally use STATA to do econometric projects as well. </p>
    </div>
    <div class="tech">
      <h3>Machine Learning</h3>
      <i class="devicon-chrome-plain colored"></i>
      <p>I am familiar with many mainstream machine learning models, including random forest, CNN, naive bayes, xgboost and lightgbm,
        and I am constantly exploring more efficient and precise models.</p>
    </div>
    <div class="tech">
      <h3>Other Tools</h3>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p>For web development, I have used the basic developing tools such as spring boot structure, css, javascript and html.
        Besides coding, I am also interested in video editing.</p>
    </div>
</div>
